h2 {
    display: flex;
    justify-content: center;
}

.items {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    font-size: x-large;
    list-style: none;
}

.select {
    height: 40px;
    margin-top: 20px;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: .5px solid black;
    margin-top: 20px;
    padding: 20px;
}

.add-btn {
    margin: 15px;
    padding: 10px;
    width: 100px;
    font-size: large;
}

.img {
    width: 80px;
    height: 80px;
}