body {
  background-color: aliceblue;
}

* {
  box-sizing: border-box;
}

.footer {
  background-color: #eafaff;
  color: #000000;
  padding: 10px;
}


.footer-bottom {
  margin-top: 150px;
  text-align: center;
}
